[
  {
    "URL": "http://www.example.com/",
    "Timeout": 2,
    "Interval": 2,
    "Checks": [
      {
        "BodyContains": "Example Domain",
        "StatusCode": 200
      },
      {
        "BodyRegEx": "Hello!?"
      }
    ]
  }
]
